#visual{
  float: right;
}
html{
  margin-right: 20px;
  margin-left: 60px;
  background-color:#a4fc4b;
}
#nav{
  padding:40px;
}
tr, td{
  padding:2px;
}

 .error {color: #FF0000;}

 th {
   padding:20px;
   text-align: center;
 }
